/* ExplainWindow 固有スタイル */

.at-asset-box {
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-color: rgba(100, 100, 100, 0.4);
    border-bottom-color: rgba(100, 100, 100, 0.4);
    border-left-color: rgba(100, 100, 100, 0.4);
    border-right-color: rgba(100, 100, 100, 0.4);
}

.at-conclusion {
    -unity-font-style: bold;
    margin-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.at-detail-indent {
    margin-left: 16px;
    margin-top: 1px;
}

.at-detail-indent-inner {
    margin-left: 16px;
}
